.footer__column-links {
    color: white;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 16px;
    padding-left: 0px;
  }